div {
    border: 1px solid #302c2c;
    padding: 10px;
    margin: 10px 0;
    background-color: #ce2b2b;
    border-radius: 10px;
    border: 2px dotted rgb(218, 21, 67);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

#nr {
    background-color: #c50e0e;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(31, 21, 21, 0.1);
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}